* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: red;
}


h1 {
    color: red;
    font-size: 25px;
}

.divAmarillo {
    background-color: yellow;
    height: 400px;
}

.divVerde {
    background-color: green;
    height: 400px;
}

.divRojo {
    background-color: red;
    height: 400px;
}
